---
import Layout from '../layouts/Layout.astro';
import Image from "astro/components/Image.astro";
import pic from "../img/pic.jpg";
import "../styles/home.scss";
import {motion} from "framer-motion";
---

<Layout title="Chiefe Kennedy Izuchukwu">
	<main>
		<div>
			<motion.div initial={{opacity: 0}} viewport={{once: true}}
						whileInView={{opacity: 1, transition:{duration: 1}}} client:only="react">
				<Image src={pic} alt="Chiefe Kennedy Izuchukwu"/>
			</motion.div>
			<motion.h1 initial={{opacity: 0, y: 50}} viewport={{once: true}}
					   whileInView={{opacity: 1, y: 0, transition:{delay: 1, duration: .5}}}
					   client:only="react">Chiefe Kennedy Izuchukwu</motion.h1>
		</div>

		<div>
			<motion.p initial={{opacity: 0, x: -100}} viewport={{once: true}}
					  whileInView={{opacity: 1, x: 0, transition:{delay: 1, duration: 1}}} client:only="react">
				I’m a young entrepreneur from Anambra, anambra east Nando By Emaegwana, Uvoke.
				I’m a digital marketer and the CEO of <a class="underline" href="https://ckimarketing.vercel.app/" target="_blank">CKIMarketing</a>.
				I have been in the marketing department for 6 years now and decided to start my own company .
				I studied political science in Godfrey Okoye university Enugu. Marketing has always been a passion for me,
				I believe selling something important to people is always an amazing feeling.
				For me people don’t buy what you do , they buy why you do it .
				I also believe in philanthropy and being of service to people.
			</motion.p>
		</div>
	</main>
</Layout>
